* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(160deg, #232526, #414345);
    color: white;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    max-width: 1200px;
}

::-webkit-scrollbar {
    display: none;
}

.headerProyek1 h1, 
.headerProyek1 p {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.headerProyek1 h1 {
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.kontenUtama {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    animation: slideUp 1.2s ease-out;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pilihanMateri,
.containerInput,
.hasilLatihan {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    letter-spacing: 1px;
}

.pilihanMateri select {
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    width: 100%;
}

.pilihanMateri select option {
    background: #2c2c2c;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-hitung {
    background: linear-gradient(45deg, #414345, #2c2c2c);
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    transition: transform 0.3s ease;
}

.btn-hitung:hover {
    transform: translateY(-2px);
}

.container-muncul {
    animation: naik 0.5s ease;
}

@keyframes naik {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.logout {
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 30px;
    transition: all 0.3s ease;
    animation: delay 1.5s ease 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes delay {
    from {
        opacity: 0;
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logout:hover {
    background: rgb(221, 26, 26);
    color: #333;
    transform: translateY(-3px);
}